@tailwind base;
@tailwind components;
@tailwind utilities;

.text-16 {
  --tw-text-16: 16px;
  font-size: var(--tw-text-16);
}
.sbar-w {
  width: 220px;
}
.cw-m {
  margin: 8px 8px 8px 0;
}
.f-white {
  color: white;
}
#skeleton-loader:before {
  background-image: linear-gradient(
    to right,
    #2c6a60 0%,
    #225e547a 50%,
    #225d5369 100%
  );
  border: none;
}
